h1.titre {
	font-family: 'Inconsolata', monospace;
}

div.rubrique-download {
	text-align: center;
}

h3.text-h3 {
	font-family: 'Titillium Web', sans-serif;
}

/* index.html */

div.btn-seance {
	text-align: center;
}

div.rubrique {
	display: inline-block;
}

a.lien-seance {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 20px;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 8px;
}

a.lien-seance:hover {
	color: black;
	background-color: white;
	border: 2px solid black;
}

/* fin */

/* seance1.html */

h2.sous-titre {
	font-family: 'Titillium Web', sans-serif;
}

a.lien-seance-download {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 20px;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 8px;
}

a.lien-seance-download:hover {
	color: black;
	background-color: white;
	border: 2px solid black;
}

a.lien-seance-open {
	font-family: 'Titillium Web', sans-serif;
	color: blue;
}

a.lien-seance-open:hover {
	text-decoration: none;
}

a.lien-seance-open:active {
	color: red;
}

a.lien-retour {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 20px 25px 20px 25px;
	border-radius: 50%;
	font-size: 20px;
	transition: 0.3s;
	border: 2px solid black;
}

a.lien-retour:hover {
	color: black;
	background-color: white;
	border: 2px solid black;
}

div.retour {
	margin-top: 30px;
}

/* fin */